* {
        font-family: Helvetica;
	font-size: 20px;
        margin: 10px;
}

/*links*/
a {
	display: inline;
}
a:link {
        color: #444;
        text-decoration: none;
}

a:active {
        color: #444;
        text-decoration: none;
}

a:visited {
        color: #444;
        text-decoration: none;
}

a:hover {
/*      color: #141414;*/
        color: #ADD8E6;
        text-decoration: none;
}

/*header*/
#header {
        width:100%;
        text-align: left;
        width: 960px;
	height: 50px;
        margin: auto;
	position: relative;
}

h1 {
        color: #444;
        font-weight: bold;
        font-size: 40px;
}

/*nav*/
#nav {
	font-size: 20px;
        text-align: right;
        border-bottom: 1px solid #007fff;
        width: 960px;
        margin: auto;
	position: relative;
	top: -35px;
}
#nav li {
        list-style-type: none;
        display: inline;
}

/*container*/
#container {
        color: #444;
        width: 960px;
        margin: auto;
	padding: 10px;
}

/*intro*/
#intro img{
	width: 40%;
	height: auto;
	text-align: left;
}

/*bike*/

/*comp*/

/*resume*/
#resume {
	margin: auto;
	position: relative;
	left: 278px;
}

/*footer*/
#footer {
        width: 960px;
        text-align: center;
        color: #444;
        border-top: 1px solid #007fff;
        margin: auto;
}


